<div class="mb-3">
  <ul class="nav nav-tabs" id="inventoryTypeTabs">
    <li class="nav-item"><a class="nav-link active" href="#" data-type="ingredient">Ingredients</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-type="container">Containers</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-type="packaging">Packaging</a></li>
    <li class="nav-item"><a class="nav-link" href="#" data-type="consumable">Consumables</a></li>
  </ul>
  <small class="text-muted">Switch between inventory types. Only the active type is shown below.</small>
</div>

