
<div class="modal fade" id="finishBatchModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Finish Batch</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      
      <form id="finishBatchModalForm" method="post" action="{{ url_for('finish_batch.complete_batch', batch_id=batch.id) }}">
        <div class="modal-body">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <!-- Always show basic info -->
          {% include 'components/batch/finish_batch_basic_info.html' %}

          <!-- Only show product fields if batch type is 'product' -->
          {% if batch.batch_type == 'product' %}
          {% include 'components/batch/finish_batch_product_fields.html' %}
          {% endif %}

          <!-- Always show perishable section -->
          {% include 'components/batch/finish_batch_perishable.html' %}

          <!-- Only show containers if batch has containers -->
          {% if batch.containers or batch.extra_containers %}
          {% include 'components/batch/finish_batch_containers.html' %}
          {% endif %}
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" id="completeBatchBtn">Complete Batch</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- JavaScript Functions Component -->
{% include 'components/batch/finish_batch_scripts.html' %}
